@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070c18;
  --foreground: #f5f9ff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 16px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}
